.DS_Store
mi-349-resources/
week1/css/screen(1).css
week1/images/foto(1).JPG
week1/index(1).html
week1/js/index(1).js
week2/new_one-pager_scan(1).pdf
week2/one-pager(1).pdf
week2/one-pager_word(1).docx
week2/test(1).txt
week3/persona-1(1).PDF
week3/proj01(1).JPG
week3/proj02(1).JPG
week4/us-constitution/css/screen(1).css
week4/us-constitution/images/the_people(1).png
week4/us-constitution/images/us-const(1).png
week4/us-constitution/index(1).html
week4/us-constitution/js/index(1).js
week5/CAT_and_UI(1).pdf
week5/another_index(1).html
week5/card_sorting(1).PDF
week5/css/style(1).css
week5/images/linux18(1).jpg
week5/images/matthew(1).gif
week5/images/northport(1).jpg
week5/index(1).html
week5/js/index(1).js
week6/css/screen(1).css
week6/images/Ethiopian-flag(1).ico
week6/images/atakilt(1).jpg
week6/images/chickpeas(1).jpg
week6/images/samosa(1).jpg
week6/index(1).html
week6/js/index(1).js
week7/available_cards_numbered(1).PDF
week7/card_sorting_report(1).docx
week7/my_sort(1).docx
week7/persona_sort(1).PDF
week7/sort_1-friend(1).PDF
week7/sort_2-friend(1).PDF
week9/.gitignore
