/* Add your CSS below */

body {
  background: linear-gradient(100deg, green, yellow 75%, red);
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 450px rgba(0,0,0,0.2);
  margin: 0 auto;
  margin-top: 50px;
  padding: 1em;
  text-align: center;
  width: 500px;
  margin-bottom: 35px;
}

.card--avatar {
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 -10px 20px rgba(0,0,0,0.2);
  margin-top: -50px;
}

.card--header {
  color: #2c3e50;
  font-size: 2.5em;
  font-weight: 100;
  margin: 0;
}

.card--title {
  color: #95a5a6;
  margin: 0.2em 0 0 0;
}

.card--social-links {
  list-style-type: none;
  margin: 1em 0 0 0;
  padding: 0;
}

.card--social-links li {
  display: inline-block;
  padding: 1.4em;
}

.card--social-links a {
  color: #4aa5ca;
  font-size: 2em;
}

.card--social-links a:hover {
  color: gray;
}

.sub-topic {
  font-family: serif;
  font-size: 1.7em;
  font-weight: bold;
  text-align: left;
  color: brown;
}

.regular-text{
  text-align: left;
  font-family: georgia;

}

.sub-topic2 {
  font-family: serif;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  color: indigo;
}
