/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
  /* #ccc is shorthand HEX for a light grey */
  background: #ccc;
}

/* Table of content in 3 columns */
#table_title {
  font-style: italic;
  font-family: monospace;
}
#column-left {
    width: 34%;
    left: 0;
    line-height: 35px;
    position: absolute;
    margin-left: 100px;
    margin-bottom: 120px;

}
#column-center {
    width: 34%;
    margin-left: 33%;
    margin-bottom: 250px;
    line-height: 35px;
    position: absolute;
}
#column-right {
    width: 32%;
    right: 0;
    line-height: 35px;
    white-space: nowrap;
    position: absolute;
    margin-bottom: 150px;
}
/* center images */

img.center-images {
  float: none;
  height: 225px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 20px;
}

/* section control */

#all {

  float: none;
  width: auto;
  margin-top: 10px;
}

#left_content {
    float: left;
    width: 570px;
    margin-top:585px;
    padding: 0px 20px 10px 20px;
    line-height: 35px;
    font-size: 18px;
}

#right_content {
    float: right;
    margin-top: 585px;
    width: 570px;
    padding: 0px 10px 20px 20px;
    line-height: 35px;
    font-size: 18px;
}
#article-num {
  font-family:fantasy;
  font-size: 24px;
  font-style: italic;
}

#section-num {
  font-family: sans-serif;
  font-size: 20px;
  font-style: oblique;
}

#article-style {
  font-size: 18px;
}
#bill-of-rights {
  margin-top: 100px;
  float: left;
  font-size: 18px;
  padding: 0px 10px 20px 10px;
  line-height: 35px;
}
/* --- */
